opencv-python==4.7.0.68
pandas==1.5.3
gradio==3.16.2
scikit-learn==1.2.1
scikit-image==0.19.3
Pillow==9.4.0
tqdm==4.63.0
pytoshop==1.2.1
psd-tools==1.9.24
gradio_client==0.2.5
onnx
--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/
onnxruntime-gpu>=1.18.1
huggingface_hub
segment_anything
requests
numpy
einops
torch